@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Manrope', sans-serif;
}

.main-app{
  width: 100%;
 display: grid;
 grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
 /* place-content: center; */
 gap: 20px;
 padding: 40px;
}

.box{
  
  border: 2px solid rgba(0, 0, 0, 0.178);
  padding: 10px;
  text-align: left;
  border-radius: 15px;
}

button{
  border: none;
  outline: 1.5px solid rgba(0, 0, 0, 0.479);
  padding: 8px 12px;
  border-radius: 6px;
  margin-right: 5px;
  background: rgba(0, 0, 0, 0.048);
  color: rgb(0, 0, 0);
  margin: 4px;
  cursor: pointer;
  font-family: 'Manrope', sans-serif;

}