*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  margin: auto;
}

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid red;
  padding: 20px 0;
}