@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&display=swap');

*, 
::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body{

    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgb(255, 185, 185);
}

.email{
    width: 100%;
    height: 100%;
}

.email__header{
    border: 2px solid;
    padding: 20px;
    height: 15vh;
}

.email__sidebar{
    border: 2px solid;
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 100%;
}

.email__body{
    display: grid;
    grid-template-columns: 0.15fr 1fr;
}

.email__box{
    margin-bottom: 10vh;
}

.email__card{
    border: 2px solid #00000041;
    margin: 20px 10px;
    border-radius: 10px;
    padding: 5px;
    list-style: none;
}

.email__card:hover{
    outline: 4px solid rgba(153, 0, 255, 0.103);
    border: 2px solid #7500dc;
}

.email__clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

@media (max-width : 500px){
    body{
        background-color: rgb(255, 255, 255);
    }

    .email__body{
        display: flex;
        flex-direction: column;
    }

    .email__sidebar{
        border: 2px solid;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 10vh;
        width: 100%;
        align-items: center;
        position: fixed;
        bottom: 0;
    }

    .email__navlink{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}